*{
    color: black;
}

#app { 
    background-color: grey;
    display: flex;
    justify-content: center;
    height: 1000px;

}

.Query {
    background-color:teal;
    height: 70px;

}

.Roster {
    background-color:steelblue;
    height: 700px;
    width: 900px;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    /* flex-wrap: nowrap; */

}

button {
    background-color: gray;
    
}

.Name {
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    flex-wrap: wrap;
    border: dotted red;
    width: 850px;
    height: 500px;
    padding: 80px;
}

.Single {
    text-align: center;
    display: flex;
    /* justify-content: flex-end; */
    flex-direction: column;
    padding: 10px;
    border: dotted blue;
    height: 180px;
    width: 110px;
}

.Nav {
    border: dotted greenyellow;
    display: flex;
    justify-content: space-evenly;
    padding-right: 50px;
    width: 150px;
    float: right;
    /* margin: 0px 50px; */

}

.Photos{
    height: 400px;
    height: 400px;
}

